<% provide(:title,"Create video") %>
<div class="main-box">
<h1> 发布视频</h1>
<div class="row">
	<div class="col-md-offset-4">
		<%= form_for(@video) do |v| %>

		  <div class="input-group col-md-8">
		   <span class="input-group-addon"><%= v.label :videourl %></span>
		   <%= v.text_field :videourl ,class:"form-control"%>
           </div>
           
           <div >
		   <%= v.submit "Create a video", class: "btn  btn-primary" %>
		   </div>
		<% end %>
	</div>
</div>
</div>




<div class="nav-video">
        <ol class="breadcrumb">
          <li><%= link_to "首页",root_path %></li>
          <li><%= link_to "视频",videos_path %></li>
         
        </ol>

</div>

    <div class="video-box">
      <% @videos.each do |video| %>
     <div class="col-md-3">
     <div class="video-inner-box">
      
                          <!-- normal -->
                            <div class="ih-item square effect3 bottom_to_top"><a href="videos/<%= video.id %>">
                                <div class="img">
                                        <img src="<%= video.cover %>" alt="<%= video.title %>"  >
                                        
                                </div>

                                <div class="info">
                                  <h3><%= video.title %></h3>
                                  <p><%= video.created_at %></p>
                                </div></a></div>
                             
                            <!-- end normal -->
            </div>
    </div>
  <% end %>
    </div>
   <%= will_paginate %>
   <p>corporate site:www.youku.com,www.tudou.com</p>