<% provide(:title,@title) %>



<div class="play-box">
    <h2 class="text-left">Title:<%= @video.title %></h2>
	<embed src="<%= @video.flash %>" allowFullScreen="true" quality="    high" width="900" height="600" align="middle" allowScriptAccess="always" type="application/x-shockwave-    flash"></embed>
	
	<% if @video.comments.any? %>
      <h3> Having <%= pluralize( @video.comments.count,"comment")%></h3>
    <div class="comment">  
        <%= render @comments %>
    </div>
      <%= will_paginate @comments %>
    <% end %>
    <div>
        <% if user_signed_in? %>
    	<%= render "shared/comment_form" %>
    	<p>comment here</p>
    	<% end %>
    </div>
</div>

    
 

