<% provide(:title,'All food menus') %>
<div class="main-box">
<div class="food-nav">
        <ol class="breadcrumb">
          <li><%= link_to "首页",root_path %></li>
          <li><%= link_to "所有地区",foods_path %></li>
          <li class="active"><%= @area_route %></li>
        </ol>
</div>
<div class="row">
    <div class="box col-md-10">
	<% @foods.each do |food| %>
	  <div class="col-xs-3">
	  <div class="inner-box">
                                <!-- normal -->
                            <div class="ih-item square effect12 "><a href="foods/<%= food.id %>">
                                <div class="img">
                                        <img src="<%= food.cover %>" alt="img"  >
                                        <p><span>地区:<%= food.area %>--</span><%=time_ago_in_words(food.created_at) %>-ago<span></span></p>
                                </div>

                                <div class="info">
                                  <h3><%= food.name %></h3>
                                  <p><%= food.description%></p>
                                </div></a></div>
                               
                            <!-- end normal -->
                            
	  </div>
	
   	</div>
    <% end %>
    <%= will_paginate %>
</div>


   <div class=" row  col-md-2 tag-box">
        <div   class="list-group area-tags">
        
                <li class="list-group-item"><%= link_to "所有地区",foods_path %></li>
              <%  @area_tags.each do |f| %>
                      <li  class="list-group-item"><%= link_to  f.name ,area_path(f.name) %>
                      <span class="badge"><%= f.taggings_count %></span></li>
                <% end %>
             
        </div>       
     <div >
     <p class="label label-primary col-md-12">食谱标签：</p>
       <% @food_tags.each do |f| %>
       <div class="tag-cloud col-md-6 text-center">
           <%= link_to  f.name ,area_path(f.name) %>
          
        </div>    
        <% end %>
     </div>
   </div>

         
</div>
 </div>