<% provide(:title,'All food menus') %>
<div class="main-box">
<div class="row">
    <div class="box">
	<% @foods.each do |food| %>
	  <div class="col-md-3">
	  <div class="inner-box">
	  	<%= link_to image_tag(food.cover,size: "180x100", :alt => food.name) , food %>
	  	
	  	    <div class="bottom-box">                  
	  	    <% if user_signed_in? && user_is_admin(current_user) == true %>
	  	        <h5 ><%= link_to food.name, food%></h5>
                <p><%= link_to "delete", food, method: :delete,
                                  data: { confirm: "Are you sure?" } %> </p>
            <% else %>
                <p ><%= link_to food.name, food %></p>
            <% end %>
            
            </div>
	  	</div>
	  </div>
	<% end %>
   	</div>
</div>
<%= will_paginate %>
</div>
 