<% provide(:title,"Create a food menu") %>
<div class="main-box">
<h1> Create a food menu</h1>
<div class="row">
	<div class="col-md-offset-4">
		<%= form_for(@food) do |v| %>

		  
           <div>
		   <%= v.label :Name %><br />
		   <%= v.text_field :name %>
           </div>
           <div>
		   <%= v.label :area %><br />
		   <%= v.text_field :area %>
           </div>
           <div>
		   <%= v.label :cover %><br />
		   <%= v.text_field :cover %>
           </div>
           <div>
		   <%= v.label :description %><br />
		   <%= v.text_field :description %>
           </div>
           <div>
		   <%= v.label :cook %><br />
		   <%= v.text_field :cook %>
           </div><br />
           <div class="center">
		   <%= v.submit "Create a food menu", class: "btn  btn-primary" %>
		   </div>
		<% end %>
	</div>
</div>
</div>