<div class="main-box">
    <div class="row">
        <div class= "col-md-8">
	        <div ><h1 class="text-left"><%= @food.name %></h1></div>
	        <% if @food.user!= nil %>
          <div class="btn btn-success">用户名:<%= @food.user.user_name %></div>
      <% end %>
      <div class="btn btn-success">发布时间： <%= @food.created_at %></div>
	    <%= link_to image_tag(@food.cover,size: "580x400", :alt => @food.name) , @food %>
	    
	    <div class="row">
	    <div class= "col-md-10">
           <div>
	         <p><%= @food.description %></p>
	       </div>
	    
		    <%= raw @food.cook %>
		
	    </div>
	    
		<div id="SOHUCS"></div>
<script>
  (function(){
    var appid = 'cyqJ2HyrW',
    conf = 'prod_78b9cab19959e4af8ff46156ee460c74';
    var doc = document,
    s = doc.createElement('script'),
    h = doc.getElementsByTagName('head')[0] || doc.head || doc.documentElement;
    s.type = 'text/javascript';
    s.charset = 'utf-8';
    s.src =  'http://assets.changyan.sohu.com/upload/changyan.js?conf='+ conf +'&appid=' + appid;
    h.insertBefore(s,h.firstChild);
    window.SCS_NO_IFRAME = true;
  })()
</script>        
	
        </div>
        </div>
   <div class="col-md-4">
   	   <% @foods.each do |food| %>
   	       <div class="inner-box-single">
   	       <% if food.id != @food.id %>
	  	

                <!-- normal -->
                            <div class="ih-item square effect12 "><a href="<%= food.id %>">
                                <div >
                                        <img src="<%= food.cover %>" alt="img"  >
                                       
                                </div>

                                <div class="info">
                                  <h3><%= food.name %></h3>
                                  <p><%= food.description%></p>
                                </div></a></div>
                               
                            <!-- end normal -->
            
	  	<% end %>
	  	</div>
   	   <% end %>
   </div>
</div>
