<header class="navbar navbar-fixed-top ">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "吃货吧", root_path, id: "logo" %>
          <nav id="navbar">
            <ul class="nav nav-tabs pull-right">
              <li><%= link_to "食谱",    foods_path %></li>
              <li><%= link_to "视频",    videos_path %></li>
              <li><%= link_to "帮助",    help_path %></li>
              
              <% if user_signed_in? %>
            
            

            
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle " data-toggle="dropdown">
              <% if current_user.user_name? %>
               <%= current_user.user_name %> 
              <% else %>
              帐号信息
              <% end %><b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "食谱管理", current_user %></li>
                <li><%= link_to "帐号设置", edit_user_registration_path(current_user) %></li>

                <li class="divider"></li>
                <li><%= link_to "发布视频", new_video_path%></li>
                <li><%= link_to "创建食谱", new_food_path %></li>
                <li>
                  <%= link_to "登出", destroy_user_session_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "登录", new_user_session_path %></li>
          <% end %>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    